@media only screen and (min-width: 37.5em) {
  
    header img {
        width: 28%;
    }
    
    header h1 {
        font-size: 3.5em;
        padding: 0px;
        margin: 20px;
    }
    
    .hamburger { 
        display:none; 
    }
    
    .navigation li {
        display: block;
    }
    
    nav ul li{
        float: left;
        border-right: 1px solid #bbb;
    }
    
    nav {
    clear: left;
    margin: 0 auto;
    text-align: center;
    
    }

    
    li:last-child {
        border-right: none;
    }

    nav ul li a {
        display: block;
        padding: 14px 16px;
    }
    
    main figure { 
        margin: 0 0 .2rem 2%; width:96%; 
    }
    
    h2 {
        font-size: 2em;
    }
    
    .current img {
        float: left;
        margin-left: 5em;
    }
    
    .current p {
        display: none;
    }

    .forecast{
        display: block;
    }
    
    article {
        border:  3px solid #FF7F50;
    }
    

    article img {
        width: 50%;
        float: right;
    }

    .clearfix {
        overflow: auto;
        zoom: 1
    }
    
    footer {
        clear: right;
    }

}