* { box-sizing: border-box;}

body {
  font-size: 16px;
    font-family: Montserrat, sans-serif;
}

header, nav, main, footer { 
    max-width: 900px;
    margin: 0 auto;
}

header {
    text-align: center;
}
header h1 {}
header img {
    float: left;
    width: 20%;
}
header .subheading {
    
}

nav {
    clear: left;
    margin: 0 auto;
    max-width: none !important;
    text-align: center;
    
}
nav button {}
nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #404969;
}
nav ul li {
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li.active a {
    background-color: #FF7F50;
}
nav ul li a:hover {
    background-color: #111;
}

main {}

main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { 
    width: 100%; 
}
main h2 {
    text-align: center;
}

.current img {
    width: 25%;
}

.current {
    text-align: center;
}

.current p {
    font-size: 1.5em;
}

.summary {
    text-align: center;
}

.forecast {
    clear: left;
    text-align: center;
    display: none;
}

.forecast h3 {
    font-size: 1.5em;
    padding-top: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    text-align: center;
    padding: 20px 0px 20px 0px;
     border: 1px solid black;
}

th {
    height: 50px;
    background-color:#BDE4F4;
    font-size: 1.2em;
}


section {
}

article {
    margin: 1.5em;
    border:  4px solid #BDE4F4;
}

article h3 {
    text-align: center;
}

article img { 
  width: 100%;
    padding: 0em 1em 1em 1em;
}

article p {
    padding: 0em 1em 1em 1em;
}

footer {
    background-color: #404969;
    color: white;
    text-align: center;
    padding: 1em 0em;
    max-width: none !important;
}
footer aside {
    text-decoration: none !important; 
    color: inherit;
}
footer>p {
    
} 
